<?xml version="1.0"?>
<ruleset name="RazorpayMagento">
    <description>Magento2 coding standard checks for the Razorpay Magento module.</description>

    <file>Constants</file>
    <file>Controller</file>
    <file>Cron</file>
    <file>Model</file>
    <file>Observer</file>
    <file>Plugin</file>
    <file>Setup</file>

    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg value="sp"/>

    <rule ref="Magento2"/>
</ruleset>
