<?xml version="1.0"?>
<config>
    <modules>
        <Razorpay_Payments>
            <version>1.1.10</version>
        </Razorpay_Payments>
    </modules>
    <global>
        <blocks>
            <razorpay_payments>
                <class>Razorpay_Payments_Block</class>
            </razorpay_payments>
        </blocks>
        <models>
            <razorpay_payments>
                <class>Razorpay_Payments_Model</class>
            </razorpay_payments>
        </models>
        <helpers>
            <razorpay_payments>
                <class>Razorpay_Payments_Helper</class>
            </razorpay_payments>
        </helpers>
        <resources>
            <razorpay_payments_setup>
                <setup>
                    <module>Razorpay_Payments</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </razorpay_payments_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <razorpay>
                    <file>razorpay.xml</file>
                </razorpay>
            </updates>
        </layout>
        <routers>
            <razorpay>
                <use>standard</use>
                <args>
                    <module>Razorpay_Payments</module>
                    <frontName>razorpay</frontName>
                </args>
            </razorpay>
        </routers>
        <secure_url>
            <razorpay_checkout>/razorpay/checkout</razorpay_checkout>
        </secure_url>
    </frontend>
    <default>
        <payment>
            <razorpay>
                <model>razorpay_payments/paymentmethod</model>
                <title>Razorpay</title>
                <merchant_name_override>Magento</merchant_name_override>
                <active>0</active>
                <key_id>Key ID</key_id>
                <key_secret>Key Secret</key_secret>
            </razorpay>
        </payment>
    </default>
</config>