<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--
        razorpayMftfGetOrderInfoCommand is only used by MFTF functional tests
        (see Test/Mftf/Test/StorefrontRazorpayCheckoutFlowTest.php) to retrieve
        the order/rzp_order_id created by the storefront JS flow, since that
        flow never navigates to a visible success page for Razorpay's off-site
        payment method.
    -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="razorpayMftfGetOrderInfoCommand" xsi:type="object">Razorpay\Magento\Console\Command\MftfGetOrderRazorpayInfoCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order\Email\Container\OrderIdentity">
        <plugin name="change_is_enable_method" type="Razorpay\Magento\Plugin\Sales\Order\Email\Container\OrderIdentityPlugin" disabled="false"/>
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="Razorpay\Magento\Plugin\CsrfValidatorSkip" />
    </type>
    <virtualType name="RazorpayLogger" type="Magento\Framework\Logger\Monolog">
	    <arguments>
	        <argument name="handlers" xsi:type="array">
	            <item name="error" xsi:type="object">Razorpay\Magento\Model\LogHandler</item>
	        </argument>
	    </arguments>
	</virtualType>
	<type name="Razorpay\Magento\Controller\Payment\Order">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
	<type name="Razorpay\Magento\Controller\Payment\Webhook">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
	<type name="Razorpay\Magento\Controller\Payment\ResetCart">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
	<type name="Razorpay\Magento\Controller\Payment\Validate">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
	<type name="Razorpay\Magento\Model\Resolver\PlaceRazorpayOrder">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
	<type name="Razorpay\Magento\Model\Resolver\SetRzpPaymentDetailsForOrder">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
	<type name="Razorpay\Magento\Plugin\Sales\Order\Email\Container\OrderIdentityPlugin">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
	<type name="Razorpay\Magento\Cron\CancelPendingOrders">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
	<type name="Razorpay\Magento\Cron\UpdateOrdersToProcessing">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
	<type name="Razorpay\Magento\Cron\UpdateOrdersToProcessingV2">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
	<type name="Razorpay\Magento\Model\Util\DebugUtils">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
</config>
