<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
        <arguments>
            <argument name="extendedConfigData" xsi:type="array">
                <item name="razorpay_key_id" xsi:type="string">payment/razorpay/key_id</item>
                <item name="razorpay_merchant_name_override" xsi:type="string">payment/razorpay/merchant_name_override</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrf_validator_skip" type="Razorpay\Magento\Plugin\CsrfValidatorSkip" />
    </type>

    <virtualType name="RazorpayLogger" type="Magento\Framework\Logger\Monolog">
	    <arguments>
	        <argument name="handlers" xsi:type="array">
	            <item name="error" xsi:type="object">Razorpay\Magento\Model\LogHandler</item>
	        </argument>
	    </arguments>
	</virtualType>

	<type name="Razorpay\Magento\Controller\Payment\Callback">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>

	<type name="Razorpay\Magento\Controller\Payment\Order">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>

	<type name="Razorpay\Magento\Controller\Payment\Webhook">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>

	<type name="Razorpay\Magento\Controller\Payment\WebhookOrderCron">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>

	<type name="Razorpay\Magento\Observer\AfterConfigSaveObserver">
	    <arguments>
	        <argument name="logger" xsi:type="object">RazorpayLogger</argument>
	    </arguments>
	</type>
</config>
