<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_payment">
        <observer name="razorpay_payment_gateway_before_config_save" instance="Razorpay\Magento\Observer\AfterConfigSaveObserver"/>
    </event>
</config>
