<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="adminhtml" frontName="admin">
        <route id="razorpay" frontName="razorpay">
            <module name="Razorpay_Magento" before="Magento_Backend"/>
        </route>
    </router>
</config>
