#cart-occ-template{
	width: 100%;
}
.action.primary.checkout{
	display: none;
}
.fieldset.coupon{
	display: none;
}
div.product-info-main #occ-template magic-checkout-btn {
    display: none !important;
}