#cart-occ-template{
	width: 100%;
}
.action.primary.checkout{
	display: none;
}
#product-oneclick-button{
	padding: 17px 26px;
	margin-bottom: 10px;
}
.fieldset.coupon{
	display: none;
}
div.product-info-main #occ-template magic-checkout-btn {
    display: none !important;
}